body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1f1f1f;
    border-bottom: 1px solid #ccc;
    padding: 0em 5em;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For older Firefox versions */
    -ms-user-select: none; /* For Internet Explorer and Edge */
    -webkit-touch-callout: none; /* Prevents long press on mobile */
}

.nav-container {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-side-buttons {
    display: flex;
    justify-content: end;
    gap: 1em;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}

.logo:hover {
    cursor: pointer;
}

.logo-easy {
    color: #fff;
}

.logo-hire {
    color: #ffc31f;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.search-bar {
    height: 2em;
    width: 40%;
    max-width: 700px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
}

.search-bar input {
    width: 100%;
    padding-left: 1em;
    flex: 1;
    border: 0;
}

.search-bar input:focus {
    outline: none; 
}

.search-icon {
    font-size: 1.5em;
    user-select: none;
}

.location-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #ffc31f;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: box-shadow 0.1s ease;
}

.location-button:hover {
    cursor: pointer;
    box-shadow: 0 0 6px rgb(255, 221, 30); 
}

.login-button {
    background-color: #ffc31f;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease;
}

.login-button:hover {
    background-color: #ffc31f;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button img {
    width: 3em;
    height: auto;
}

.categories {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories div {   
    width: 100%;
    background-color: #4d4d4d;
    color: #fff;
    margin: 8px;
    border: #1f1f1f 1px solid;
    border-radius: 5px;
    padding: 1em 20em;
    min-width: 300px; /* Minimum width for each box */
    min-height: 60px; /* Minimum height for each box */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box; /* Ensures padding is included in width/height */
}